/* "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables" */
@import "bootstrap-sprockets";
@import "bootstrap";

/*
 * .main-img
*/

.main-img-container {
  margin-top: 5vh;
  width: 100%;
}

.main-img {
  width: 100%;
}
