
<div class="row">
  <div class="col-xs-12">
    <div class="main-img-container">
      <%= image_tag "ww.jpg", class: "main-img" %>
      <select id="character-select">
        <option>Waldo</option>
        <option>Wenda</option>
        <option>Odlaw</option>
        <option>Wizard Whitebeard</option>
        <option>Woof</option>
      </select>
    </div>
  </div>
</div>
